/* Kriplyana (Inuit word): snow that looks blue in the early morning  */

body { background: url(../kriplyana/bg_shadow.jpg) no-repeat center 5px;}
#masthead { background-color: #4B5C94; background-image: none; color: #8F9DC5; }
#masthead a { color: #EAF4F9;}
#masthead a:hover {color: white; }
#masthead {background-image: url(../kriplyana/sit4_swirl3.png); background-position: top left; background-repeat: no-repeat;}
#mastheadcontent { background-image: none; position: relative; top: 0px; }
h1 { background-image: none; font-weight: lighter; padding-top: 11px; }
#apptitle {background-image: none; }

#mainframe { background: transparent;}
h1 { color: #fff; }
h2 { color: #555; }
tr.shade1, td.shade1 { background: #FFF;  }
tr.shade1 td, tr.shade2 td { border-bottom: 1px solid #C3C3C3; }
tr.shade2, td.shade2, fieldset { background: #EAF4F9;  }
tr.critical { background: #FFC4E0;}

th { border: 1px solid #EEEEEE; background: white; color: #555; letter-spacing: 0.05em;}


table.vertical { border:0px;}
table.vertical tbody th { background: white; text-align: left; }
table.vertical tbody td { background: white;}

input, textarea, select { border: 1px solid #ccc; -moz-border-radius: 3px;
  -khtml-border-radius: 3px;  border-radius: 3px;}


div.windowbox
{
    background: #FBFCFD;
    border: 1px solid #7F8394;
    padding:0px;
    overflow: hidden;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;  border-radius: 4px;
}
div.windowtitle
{
    margin: 0px;
  background: #4B5B94;
  color: white;
  border-bottom: 1px solid #C3C3C3;
  width: 100%;
}
.windowtitle a { color: white; font-weight: normal;}
div.windowtitle img { vertical-align: -30%; }
div.window
{
    width: 98%;
    background: #F6F8F9;
        -moz-border-radius: 4px;
    -khtml-border-radius: 4px;  border-radius: 4px;
}


div#statusbar
{
    background: #EAF4F9; color: #999;
}

div#tail
{
    border-top: 5px solid #BCBBBB;
    background: #D9D8D8;
    margin: 0px 20px;
}
div#tail strong { color: #A12607; }
a.info span { display: none; z-index: 100; overflow: hidden; }
a.info:hover span
{
  background: #4470A1;
  color: #EAEFFF;
  border: 1px solid #4570A1;
  padding: 2px 4px;
  width: auto;
  max-width: 35em;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  filter:alpha(opacity=85);
  opacity: 0.85;
  -moz-opacity:0.85;
}

a.info:hover span strong { color: #FFF;}

input.required, select.required{
  background-color: #FFEDED;
}
span.required { color: #A12607; }

span.helplink { color: #EAF4F9; }
span.helplink a { color: #109810;}
.helplink a span { background: #109810; }
.helplink a:hover {
    font-size: 99%; /* this is just for IE */
    text-decoration: none; color: #109810;
}

.droptarget { border: 1px dashed #FFC0FF;}

div#statusbar { background-color: #4B5C94; }
div#statusbar img { vertical-align: text-bottom; }
div#statusbar strong { color:#fff;}
#statusbar a { text-decoration: none; color: #FFF; }
#statusbar a:hover { text-decoration: underline; }
#statusbar a:active { text-decoration: underline; }
