body		{ background-color: #FFFFFF; color: #0000FF; font-family: Tahoma, Helvetica, sans serif; font-size: 14pt;}
.name 	{ font-size: 24pt; font-weight: bold}
.incidents { font-size: 18pt; font-weight: bold}